{% extends 'base.html' %}

{% block content %}

<div class="container py-5">

    <!-- Welcome -->

    <div class="dashboard-header mb-5 text-center">

        <h1 class="dashboard-title">
            Welcome {{ request.user.first_name }} ✨
        </h1>

        <p class="dashboard-subtitle">
            Track your learning journey and progress
        </p>

    </div>

    
    <!--  stats -->

    <div class="row g-4">

        <!-- card 1 -->

        <div class="col-md-4">

            <div class="stats-card text-center">

                <h5>📚 Enrolled Courses</h5>

                <h1>{{ enrolled_courses.count }}</h1>

            </div>

        </div>


        <!-- card 2 -->

        <div class="col-md-4">

            <div class="stats-card text-center">

                <h5>🧠 Quiz Attempts</h5>

                <h1>{{ results.count }}</h1>

            </div>

        </div>


        <!-- card 3 -->

        <div class="col-md-4">

            <div class="stats-card text-center">

                <h5>🏆 Total Score</h5>

                <h1>{{ total_score }}</h1>

            </div>

        </div>

    </div>



    <!-- Courses -->

    <div class="mt-5">

        <h2 id="heading">
            Your Courses
        </h2>

        <div class="row g-4">

            {% for course in enrolled_courses %}

            <div class="col-md-4">

                <div class="dashboard-course-card">

                    <img src="{{ course.image.url }}"
                    class="card-img-top">

                    <div class="card-body text-center">

                        <h5>{{ course.title }}</h5>

                    </div>

                </div>

            </div>

            {% endfor %}

        </div>

    </div>



    <!-- Quiz  activity-->

    <div class="quiz-box mt-5">

        <h2 class="mb-4">
            Recent Quiz Activity
        </h2>

        <div class="table-responsive">

            <table class="table activity-table align-middle">

                <thead>

                    <tr>
                        <th>Quiz</th>
                        <th>Score</th>
                    </tr>

                </thead>

                <tbody>

                    {% for result in results %}

                    <tr>

                        <td>{{ result.quiz.title }}</td>

                        <td>

                            <span class="quiz-score">
                                {{ result.score }}
                            </span>

                        </td>

                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    </div>



    <!-- Progress -->

    <div class="progress-section mt-5">

        <div class="d-flex justify-content-between mb-2">

            <h5>Learning Progress</h5>

            <span>80%</span>

        </div>

        <div class="custom-progress">

            <div class="custom-progress-bar">

            </div>

        </div>

    </div>

</div>

{% endblock %}